:root {
  /* Text */
  /* Color */
  --black: #000;
  --white: #fff;
  --primary: #ffc107;
  --secoundary: #3E3E3E;
  --orange: #f68d29;
  --light: #F6F6F6;
  --lighter: #F6F6F655;
  --red: rgb(207, 32, 47);
  --light-gray: #ECECEC;
  --medium-gray: #D7D7D7;
  --dark: #353f52;
  --light-dark: #5b616e;
  --gold: #F2B218;
  --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  --border-shadow: var(--white);
  --fade-white: rgba(255, 255, 255, 0.5);
  --primary-border: 1px solid var(--medium-gray);
  --gray: #ACACAC;
  /* size */
  --nav-height: 72px;
  --main-radius: 2em;
  --secondary-radius: 1em;
  --tertiary-radius: 0.5em;
  /* shapes */
  --primary-shape: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
  --alternate-shape: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  /* effects */
  --primary-transition: all 0.3s ease;
  /* borders */
  --dashed-border: 1px dashed var(--gray);
  --solid-border: 1px solid var(--gray);
  --section-border: 3px solid var(--medium-gray);
}

/* Poppins Font */
/* @font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/Poppins/Poppins-Black.ttf');
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/Poppins/Poppins-Light.ttf');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/Poppins/Poppins-ExtraBold.ttf');
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/Poppins/Poppins-Black.ttf');
    font-weight: 900;
  } */

@font-face {
  font-family: 'Kidspace';
  src: url('../src/assets/fonts/kidspace/Kidspace-DEMO.ttf');

}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kidspace', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

.home_wrap {
  background-image: url(/public/assets/images/background.png);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 45px;
}

.home_wrap .sec-wrap {
  /* display: flex; */
}

.bottom-wrap {
  display: flex;
  justify-content: space-between;
}

.home_wrap .sec-wrap .left-side {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 145px);
}

.home_wrap .sec-wrap .left-side a {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-family: 'Kidspace';
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #999999;
}

.home_wrap .sec-wrap .left-side a:not(:last-child) {
  padding-bottom: 30px;
}

.home_wrap .sec-wrap .left-side a img {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 74.36px;
  height: 55.464px;
  /* width: 90%; */
}

.home_wrap .sec-wrap .right-side {
  width: 83%;
}

.home_wrap .sec-wrap .right-side .sec-right-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home_wrap .sec-wrap .right-side .sec-right-wrap .left {}

.home_wrap .sec-wrap .right-side .sec-right-wrap .left .btn {
  width: 124.76px;
  height: 39.6px;
  padding: 0 !important;
}

.home_wrap .sec-wrap .right-side .sec-right-wrap .right .btn {
  width: 124.76px;
  height: 39.6px;
  padding: 0 !important;
}

.home_wrap .sec-wrap .right-side .sec-right-wrap .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_wrap .sec-wrap .right-side .sec-right-wrap .right ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-screen {
  height: calc(100vh - 110px);
  overflow-y: scroll;
  overflow-x: hidden;
  /* margin: 10px 0px 0px 0px; */
  background-color: #272727;
  border-radius: 16px 8px 8px 16px;
}

.main-screen::-webkit-scrollbar {
  width: 12px;
  height: 7px;
}

.main-screen::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  width: px;
  height: 7px;
  border-radius: 10px;
}

.main-screen::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  border: 1px solid #fff;
}

.home_wrap .sec-wrap .top-bar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.home_wrap .sec-wrap .top-bar .sec-left-wrap {
  width: 15%;
}

.home_wrap .sec-wrap .top-bar .sec-right-wrap {
  width: 83%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home_wrap .sec-wrap .top-bar .sec-right-wrap a {
  padding: 0;
}

.home_wrap .sec-wrap .top-bar .sec-right-wrap .right {
  display: flex;
  align-items: center;
}

.home_wrap .sec-wrap .top-bar .sec-right-wrap .right ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0;
  list-style: none;
}

.home_wrap .sec-wrap .top-bar .sec-right-wrap .right ul li {
  margin-left: 20px;
}

.home-section-one {
  position: relative;
  /* height: 100%; */
  height: calc(100vh - 110px);
  background: #272727;
  overflow: hidden;
}

.home-section-two {
  position: relative;
  /* height: 100%; */
  height: calc(100vh - 110px);
  background: #272727;
  overflow: hidden;
}

.home-section-three {
  position: relative;
  margin-top: -450px;
  height: calc(100vh - 110px);
}

.home-section-five {
  /* padding: 9px 0px 49px 0px; */
  height: calc(100vh - 110px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 0px;
}

.home-section-five .sec-image {
  text-align: center;
}

.home-section-five .sec-image h2 {
  font-family: 'Kidspace';
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary);
    position: relative;
    z-index: 1;
    padding-top: 25px;
}
.home-section-three .title {
  font-family: 'Kidspace';
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary);
    position: relative;
    z-index: 1;
    padding-top: 25px;
}

.home-section-two .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-wrap .image-one {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -80px;
  z-index: 0;

}

.home-section-three .image-one {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -80px;
  z-index: 0;
}

.home-wrap .image-two {
  position: absolute;
  z-index: 0;
  bottom: 50%;
  right: 0;
  transform: translate(0px, 50%);
  width: 35%;
}

.home-section-three .image-two {
  position: absolute;
  z-index: 0;
  top: 20px;
  left: 20px;
}

.home-wrap .image-three {
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0%);
  width: 21%;
}

.home-section-three .image-three {
  position: absolute;
  z-index: 0;
  top: 11px;
  right: 15%;
  transform: translate(10%, 0%);
}

.home-wrap .image-four {
  position: absolute;
  z-index: 0;
  top: 50px;
  left: 20px;
  width: 12.2%;
}

.home-section-three .image-four {
  position: absolute;
  z-index: 0;
  bottom: 10px;
  left: 10px;
}

.home-wrap .image-five {
  position: absolute;
  z-index: 0;
  top: 5%;
  left: 40%;
  transform: translate(40%, 0%);
  width: 16.5%;
}

.home-wrap .image-six {
  position: absolute;
  z-index: 0;
  bottom: 5%;
  left: 20px;
  width: 10.5%;
}

.home-section-three .image-five {
  position: absolute;
  z-index: 0;
  bottom: 10px;
  right: 10px;
}

.home-section-three .sec-image {
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.home-section-one .detail h2 {
  font-family: 'Kidspace';
  font-size: 40px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--white);
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
}

.home-section-one .detail p {
  font-family: 'Kidspace';
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary);
  position: relative;
  z-index: 1;
  width: 60%;
}

.main-screen .home-section-one .detail {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(10px, -50%);
  z-index: 9;
}

.home-section-three .sec-main-image {
  width: 75%;
}

.home-section-four {
  /* position: relative;
  padding: 120px 0px; */
  position: relative;
  height: calc(100vh - 110px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-section-four .image-one {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -80px;
  z-index: 0;
}

.home-section-four .image-two {
  position: absolute;
  z-index: 0;
  top: 20px;
  left: 20px;
}

.home-section-four .image-three {
  position: absolute;
  z-index: 0;
  top: 11px;
  right: 15%;
  transform: translate(10%, 0%);
}

.home-section-four .image-four {
  position: absolute;
  z-index: 0;
  bottom: 10px;
  left: 10px;
}

.home-section-four .image-five {
  position: absolute;
  z-index: 0;
  bottom: 10px;
  right: 10px;
}

.home-section-four .detail {
  /* position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  z-index: 9;
  text-align: center; */
  padding: 0px 15%;
}

.home-section-four .detail h2 {
  font-family: 'Kidspace';
  font-size: 40px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--primary);
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
}

.home-section-four .detail p {
  font-family: 'Kidspace';
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--white);
  position: relative;
  z-index: 1;
}


.message-box {
  position: absolute;
  bottom: 0;
  left: 40%;
  transform: translate(-40%, 0);
}

.message-box div {
  position: relative;
}

.message-box p {
  position: absolute;
  z-index: 4;
  /* bottom: 0; */
  top: 54%;
  left: 50%;
  transform: translate(-50%, -48%);
  width: 200px;
  font-family: Kidspace;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}

.sticky-background {
  position: relative;
  box-sizing: border-box;
}

.bg-fixed-img {
  width: 100%;
  /* height: 84vh; */
  height: calc(100vh - 110px);
  margin-top: 45px;
  position: sticky;
  top: 0;

}

.bg-fixed-img img {
  /* object-fit: fill; */
  /* position: fixed; */
}

.home-section-six {
  /* position: relative; 
  padding: 120px 0px; */
  position: relative;
  height: calc(100vh - 110px);
  margin: 10px 0px;
  padding: 140px 0px;
  /* justify-content: center;
  align-items: center; */
}

.home-section-six .last-sec-wrap {
  text-align: center;
}

.home-section-six .last-sec-wrap p {
  text-align: center;
  font-family: 'Kidspace';
  font-size: 26px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--primary);
  padding-top: 20px !important;
}

.home-section-seven {
  /* position: relative;
  padding: 10px 0px; */
  position: relative;
    /* padding: 10px 0px; */
    height: calc(100vh - 110px);
    margin: 10px 0px;
}

.first-sec-title{
  color: #e4513b;
  position: absolute;
  left: 13.5%;
  text-align: center;
  font-size: 24px;
  top: 84px;
}

.home-section-seven h2 {
  font-family: 'Kidspace';
  font-size: 40px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--primary);
  padding: 20px;
}

.home-section-seven .snack-wrap {}

.home-section-seven .snack-wrap .one {}

.home-section-seven .snack-wrap .one .round-1 svg g ellipse {
  fill: linear-gradient(90deg, rgba(255, 193, 7, 0.5) 0%, rgba(255, 193, 7, 0.5) 100%);

}

.social-icons li:hover svg path:nth-child(1) {
  fill: #AF8506;
}

.social-icons li:hover svg path:nth-child(2) {
  fill: #D19F09;
}

.social-icons li:hover svg path:nth-child(3) {
  fill: #FFF2CB;
}

.social-icons li:hover svg path:nth-child(5) {
  fill: #FFF2CB;
}

.social-icons li:hover svg path:nth-child(6) {
  fill: #FFF2CB;
}

.social-icons li:hover svg path:nth-child(7) {
  fill: #FAF8FA;
}

.social-icons li:hover svg path:nth-child(8) {
  fill: #FAF8FA;
}

.social-icons li:hover svg path:nth-child(9) {
  fill: #FFC107;
}

.social-icons li:hover svg path:nth-child(10) {
  fill: #FFC107;
}

.sale-btn:hover path:nth-child(1) {
  fill: #8F3333;
}

.sale-btn:hover path:nth-child(2) {
  fill: #FFFDF9;
}

.sale-btn:hover path:nth-child(3) {
  fill: #EA5A40;
}

.sale-btn:hover path:nth-child(4) {
  fill: #FF6347;
}

.sale-btn:hover path:nth-child(5) {
  fill: #fff;
}

.wallet-btn:hover path:nth-child(1) {
  fill: #AF8506;
}

.wallet-btn:hover path:nth-child(2) {
  fill: #FFFDF9;
}

.wallet-btn:hover path:nth-child(3) {
  fill: #D19F09;
}

.wallet-btn:hover path:nth-child(4) {
  fill: #FFC107;
}

.wallet-btn:hover path:nth-child(5) {
  fill: #fff;
}

.wallet-btn:hover path:nth-child(6) {
  fill: #fff;
}

.wallet-btn:hover path:nth-child(7) {
  fill: #fff;
}

.wallet-btn:hover path:nth-child(8) {
  fill: #fff;
}

.wallet-btn:hover path:nth-child(9) {
  fill: #fff;
}


.home-icon-button:hover svg path:nth-child(1) {
  fill: #C1AF9B;
}

.home-icon-button:hover svg path:nth-child(2) {
  fill: #FFFDF9;
}

.home-icon-button:hover svg path:nth-child(3) {
  fill: #EA5A40;
}

.home-icon-button:hover svg path:nth-child(4) {
  fill: #FFE6E1;
}

.home-icon-button:hover svg path:nth-child(5) {
  fill: #EA5A40;
}

.home-icon-button:hover svg path:nth-child(6) {
  fill: #FFCFC6;
}

.home-icon-button:hover svg path:nth-child(7) {
  fill: #fff;
}

.home-icon-button:hover svg path:nth-child(8) {
  fill: #fff;
}

.home-icon-button:hover svg path:nth-child(9) {
  fill: #FFCFC6;
}

.home-icon-button:hover svg path:nth-child(10) {
  fill: #fff;
}

.home-icon-button:hover span {
  color: #EA5A40;
}

.home-icon-button.active svg path:nth-child(1) {
  fill: #C1AF9B;
}

.home-icon-button.active svg path:nth-child(2) {
  fill: #FFFDF9;
}

.home-icon-button.active svg path:nth-child(3) {
  fill: #EA5A40;
}

.home-icon-button.active svg path:nth-child(4) {
  fill: #FFE6E1;
}

.home-icon-button.active svg path:nth-child(5) {
  fill: #EA5A40;
}

.home-icon-button.active svg path:nth-child(6) {
  fill: #FFCFC6;
}

.home-icon-button.active svg path:nth-child(7) {
  fill: #fff;
}

.home-icon-button.active svg path:nth-child(8) {
  fill: #fff;
}

.home-icon-button.active svg path:nth-child(9) {
  fill: #FFCFC6;
}

.home-icon-button.active svg path:nth-child(10) {
  fill: #fff;
}

.home-icon-button.active span {
  color: #EA5A40;
}


.token-icon-button:hover svg path:nth-child(1) {
  fill: #C1AF9B;
}

.token-icon-button:hover svg path:nth-child(2) {
  fill: #EA5A40;
}

.token-icon-button:hover svg path:nth-child(3) {
  fill: #FFE6E1;
}

.token-icon-button:hover svg g path:nth-child(1) {
  fill: #EA5A40;
}

.token-icon-button:hover svg g path:nth-child(2) {
  fill: #EA5A40;
}

.token-icon-button:hover svg g path:nth-child(3) {
  fill: #EA5A40;
}

.token-icon-button:hover svg g path:nth-child(4) {
  fill: #EA5A40;
}

.token-icon-button:hover svg path:nth-child(5) {
  fill: #FFCFC6;
}

.token-icon-button:hover svg path:nth-child(6) {
  fill: #fff;
}

.token-icon-button:hover svg path:nth-child(7) {
  fill: #fff;
}

.token-icon-button:hover svg path:nth-child(8) {
  fill: #FFCFC6;
}

.token-icon-button:hover span {
  color: #EA5A40;
}

.token-icon-button.active svg path:nth-child(1) {
  fill: #C1AF9B;
}

.token-icon-button.active svg path:nth-child(2) {
  fill: #EA5A40;
}

.token-icon-button.active svg path:nth-child(3) {
  fill: #FFE6E1;
}

.token-icon-button.active svg g path:nth-child(1) {
  fill: #EA5A40;
}

.token-icon-button.active svg g path:nth-child(2) {
  fill: #EA5A40;
}

.token-icon-button.active svg g path:nth-child(3) {
  fill: #EA5A40;
}

.token-icon-button.active svg g path:nth-child(4) {
  fill: #EA5A40;
}

.token-icon-button.active svg path:nth-child(5) {
  fill: #FFCFC6;
}

.token-icon-button.active svg path:nth-child(6) {
  fill: #fff;
}

.token-icon-button.active svg path:nth-child(7) {
  fill: #fff;
}

.token-icon-button.active svg path:nth-child(8) {
  fill: #FFCFC6;
}

.token-icon-button.active span {
  color: #EA5A40;
}



.fund-icon-button:hover svg path:nth-child(1) {
  fill: #C1AF9B;
}

.fund-icon-button:hover svg path:nth-child(2) {
  fill: #FFFDF9;
}

.fund-icon-button:hover svg path:nth-child(3) {
  fill: #FFE6E1;
}

.fund-icon-button:hover svg path:nth-child(4) {
  fill: #EA5A40;
}

.fund-icon-button:hover svg path:nth-child(5) {
  fill: #EA5A40;
}

.fund-icon-button:hover svg path:nth-child(6) {
  fill: #EA5A40;
}

.fund-icon-button:hover svg path:nth-child(7) {
  fill: #EA5A40;
}

.fund-icon-button:hover svg path:nth-child(8) {
  fill: #FFCFC6;
}

.fund-icon-button:hover svg path:nth-child(9) {
  fill: #fff;
}

.fund-icon-button:hover svg path:nth-child(10) {
  fill: #fff;
}

.fund-icon-button:hover svg path:nth-child(12) {
  fill: #fff;
}

.fund-icon-button:hover svg path:nth-child(11) {
  fill: #FFCFC6;
}

.fund-icon-button:hover span {
  color: #EA5A40;
}




.fund-icon-button.active svg path:nth-child(1) {
  fill: #C1AF9B;
}

.fund-icon-button.active svg path:nth-child(2) {
  fill: #FFFDF9;
}

.fund-icon-button.active svg path:nth-child(3) {
  fill: #FFE6E1;
}

.fund-icon-button.active svg path:nth-child(4) {
  fill: #EA5A40;
}

.fund-icon-button.active svg path:nth-child(5) {
  fill: #EA5A40;
}

.fund-icon-button.active svg path:nth-child(6) {
  fill: #EA5A40;
}

.fund-icon-button.active svg path:nth-child(7) {
  fill: #EA5A40;
}

.fund-icon-button.active svg path:nth-child(8) {
  fill: #FFCFC6;
}

.fund-icon-button.active svg path:nth-child(9) {
  fill: #fff;
}

.fund-icon-button.active svg path:nth-child(10) {
  fill: #fff;
}

.fund-icon-button.active svg path:nth-child(12) {
  fill: #fff;
}

.fund-icon-button.active svg path:nth-child(11) {
  fill: #FFCFC6;
}

.fund-icon-button.active span {
  color: #EA5A40;
}




.roadmap-icon-button:hover svg path:nth-child(1) {
  fill: #C1AF9B;
}

.roadmap-icon-button:hover svg path:nth-child(2) {
  fill: #FFFDF9;
}

.roadmap-icon-button:hover svg path:nth-child(3) {
  fill: #FFE6E1;
}

.roadmap-icon-button:hover svg path:nth-child(4) {
  fill: #EA5A40;
}

.roadmap-icon-button:hover svg path:nth-child(5) {
  fill: #FFCFC6;
}

.roadmap-icon-button:hover svg path:nth-child(6) {
  fill: #fff;
}

.roadmap-icon-button:hover svg path:nth-child(7) {
  fill: #fff;
}

.roadmap-icon-button:hover svg path:nth-child(8) {
  fill: #FFCFC6;
}

.roadmap-icon-button:hover svg path:nth-child(9) {
  fill: #fff;
}

.roadmap-icon-button:hover span {
  color: #EA5A40;
}



.roadmap-icon-button.active svg path:nth-child(1) {
  fill: #C1AF9B;
}

.roadmap-icon-button.active svg path:nth-child(2) {
  fill: #FFFDF9;
}

.roadmap-icon-button.active svg path:nth-child(3) {
  fill: #FFE6E1;
}

.roadmap-icon-button.active svg path:nth-child(4) {
  fill: #EA5A40;
}

.roadmap-icon-button.active svg path:nth-child(5) {
  fill: #FFCFC6;
}

.roadmap-icon-button.active svg path:nth-child(6) {
  fill: #fff;
}

.roadmap-icon-button.active svg path:nth-child(7) {
  fill: #fff;
}

.roadmap-icon-button.active svg path:nth-child(8) {
  fill: #FFCFC6;
}

.roadmap-icon-button.active svg path:nth-child(9) {
  fill: #fff;
}

.roadmap-icon-button.active span {
  color: #EA5A40;
}




.team-icon-button:hover svg path:nth-child(1) {
  fill: #C1AF9B;
}

.team-icon-button:hover svg path:nth-child(2) {
  fill: #FFFDF9;
}

.team-icon-button:hover svg path:nth-child(3) {
  fill: #FFE6E1;
}

.team-icon-button:hover svg g path:nth-child(1) {
  fill: #EA5A40;
}

.team-icon-button:hover svg g path:nth-child(2) {
  fill: #EA5A40;
}

.team-icon-button:hover svg g path:nth-child(3) {
  fill: #EA5A40;
}

.team-icon-button:hover svg g path:nth-child(4) {
  fill: #EA5A40;
}

.team-icon-button:hover svg g path:nth-child(5) {
  fill: #EA5A40;
}

.team-icon-button:hover svg g path:nth-child(6) {
  fill: #EA5A40;
}

.team-icon-button:hover svg path:nth-child(5) {
  fill: #FFCFC6;
}

.team-icon-button:hover svg path:nth-child(6) {
  fill: #fff;
}

.team-icon-button:hover svg path:nth-child(7) {
  fill: #fff;
}

.team-icon-button:hover svg path:nth-child(8) {
  fill: #FFCFC6;
}

.team-icon-button:hover svg path:nth-child(9) {
  fill: #fff;
}

.team-icon-button:hover span {
  color: #EA5A40;
}




.team-icon-button.active svg path:nth-child(1) {
  fill: #C1AF9B;
}

.team-icon-button.active svg path:nth-child(2) {
  fill: #FFFDF9;
}

.team-icon-button.active svg path:nth-child(3) {
  fill: #FFE6E1;
}

.team-icon-button.active svg g path:nth-child(1) {
  fill: #EA5A40;
}

.team-icon-button.active svg g path:nth-child(2) {
  fill: #EA5A40;
}

.team-icon-button.active svg g path:nth-child(3) {
  fill: #EA5A40;
}

.team-icon-button.active svg g path:nth-child(4) {
  fill: #EA5A40;
}

.team-icon-button.active svg g path:nth-child(5) {
  fill: #EA5A40;
}

.team-icon-button.active svg g path:nth-child(6) {
  fill: #EA5A40;
}

.team-icon-button.active svg path:nth-child(5) {
  fill: #FFCFC6;
}

.team-icon-button.active svg path:nth-child(6) {
  fill: #fff;
}

.team-icon-button.active svg path:nth-child(7) {
  fill: #fff;
  
}

.team-icon-button.active svg path:nth-child(8) {
  fill: #FFCFC6;
}

.team-icon-button.active svg path:nth-child(9) {
  fill: #fff;
}

.team-icon-button.active span {
  color: #EA5A40;
}

.pre-sale-back:hover g path:nth-child(1){
  fill: #AF8506;
}
.pre-sale-back:hover g path:nth-child(1){
  fill: #FFC107;
}
.pre-sale-back:hover g path:nth-child(2){
  fill: #FFC107;
}
.pre-sale-back:hover g path:nth-child(3){
  fill: #FFC107;
}



.buy-with-usdt:hover path:nth-child(1){
fill: #EA5A40;
}
.buy-with-usdt:hover path:nth-child(2){
  fill: #EA5A40;
}
.buy-with-usdt:hover path:nth-child(3){
fill: #fff;
}

.buy-with-eth:hover path:nth-child(1){
fill: #EA5A40;
}
.buy-with-eth:hover path:nth-child(2){
  fill: #EA5A40;
}
.buy-with-eth:hover path:nth-child(3){
fill: #fff;
}

.disconnect:hover path:nth-child(1){
fill: #EA5A40;
}
.disconnect:hover path:nth-child(2){
  fill: #EA5A40;
}
.disconnect:hover path:nth-child(3){
fill: #fff;
}







.q2 {
  position: absolute;
  z-index: 22;
  top: -15px;
  left: 0px;
}

.q3 {
  position: absolute;
  z-index: 21;
  top: -15px;
  left: 25%;
  transform: translateX(25%);
}

.q4 {
  position: absolute;
  z-index: 20;
  top: -15px;
  left: 50%;
  transform: translateX(50%);
}

.q5 {
  position: absolute;
  z-index: 19;
  top: -15px;
  left: 75%;
  transform: translateX(75%);
}

.q6 {
  position: absolute;
  z-index: 18;
  top: 22%;
  left: 62%;
  transform: translate(62% , 22%);
}

.q2 .count {

  width: 62px;
  height: 62px;
  background-color: #363636;
  color: #fff;
  font-family: 'Kidspace';
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px #E2E2E2;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-inline: auto;
}

.q3 .count {

  width: 62px;
  height: 62px;
  background-color: #363636;
  color: #fff;
  font-family: 'Kidspace';
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px #E2E2E2;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-inline: auto;
}

.q4 .count {

  width: 62px;
  height: 62px;
  background-color: #363636;
  color: #fff;
  font-family: 'Kidspace';
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px #E2E2E2;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-inline: auto;
}

.q5 .count {

  width: 62px;
  height: 62px;
  background-color: #363636;
  color: #fff;
  font-family: 'Kidspace';
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px #E2E2E2;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-inline: auto;
}

.q6 .count {

  width: 62px;
  height: 62px;
  background-color: #363636;
  color: #fff;
  font-family: 'Kidspace';
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px #E2E2E2;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-inline: auto;
}

.q2 .p1 {
  color: #fff;
  font-family: 'Kidspace';
  font-size: 26px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;

}

.q5 .p1 {
  color: #fff;
  font-family: 'Kidspace';
  font-size: 26px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;

}

.q7 {
  position: absolute;
  z-index: 18;
  top: 22%;
  left: 38%;
  transform: translate(38% , 22%);
}

.q7 .count {

  width: 62px;
  height: 62px;
  background-color: #363636;
  color: #fff;
  font-family: 'Kidspace';
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px #E2E2E2;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-inline: auto;
}

.q8 {
  position: absolute;
  z-index: 16;
  top: 46%;
  left: 26%;
  transform: translate(26% , 46%);
}

.q8 .count {

  width: 62px;
  height: 62px;
  background-color: #363636;
  color: #fff;
  font-family: 'Kidspace';
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px #E2E2E2;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-inline: auto;
}

.q9 {
  position: absolute;
  z-index: 15;
  top: 43%;
  left: 51%;
  transform: translate(51% , 43%);
}

.q9 .count {

  width: 62px;
  height: 62px;
  background-color: #363636;
  color: #fff;
  font-family: 'Kidspace';
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px #E2E2E2;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-inline: auto;
}

.q9 .p1 {
  color: #fff;
  font-family: 'Kidspace';
  font-size: 26px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;

}

.q10 {
  position: absolute;
  z-index: 16;
  top: 54%;
  left: 77%;
  transform: translate(77% , 54%);
}

.q10 .count {

  width: 62px;
  height: 62px;
  background-color: #363636;
  color: #fff;
  font-family: 'Kidspace';
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px #E2E2E2;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-inline: auto;
}

.q11 {
  position: absolute;
  z-index: 14;
  bottom: -15px;
  left: 61%;
  transform: translateX(61%);
}

.q11 .count {

  width: 62px;
  height: 62px;
  background-color: #363636;
  color: #fff;
  font-family: 'Kidspace';
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px #E2E2E2;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-inline: auto;
}

.q12 {
  position: absolute;
  z-index: 12;
  bottom: -15px;
  left: 35%;
  transform: translateX(35%);
}

.q12 .count {

  width: 62px;
  height: 62px;
  background-color: #363636;
  color: #fff;
  font-family: 'Kidspace';
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px #E2E2E2;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-inline: auto;
}

.q2:hover .count {
  color: var(--primary);
  box-shadow: 0px 0px 0px 2px var(--primary);
}

.q2:hover .p1 {
  color: var(--primary);
}

.q3:hover .count {
  color: var(--primary);
  box-shadow: 0px 0px 0px 2px var(--primary);
}
.q4:hover .count {
  color: var(--primary);
  box-shadow: 0px 0px 0px 2px var(--primary);
}

.q5:hover .count {
  color: var(--primary);
  box-shadow: 0px 0px 0px 2px var(--primary);
}

.q5:hover .p1 {
  color: var(--primary);
}

.q5:hover .count {
  color: var(--primary);
  box-shadow: 0px 0px 0px 2px var(--primary);
}

.q6:hover .count {
  color: var(--primary);
  box-shadow: 0px 0px 0px 2px var(--primary);
}

.q7:hover .count {
  color: var(--primary);
  box-shadow: 0px 0px 0px 2px var(--primary);
}
.q8:hover .count {
  color: var(--primary);
  box-shadow: 0px 0px 0px 2px var(--primary);
}

.q9:hover .count {
  color: var(--primary);
  box-shadow: 0px 0px 0px 2px var(--primary);
}

.q9:hover .p1 {
  color: var(--primary);
}
.q10:hover .count {
  color: var(--primary);
  box-shadow: 0px 0px 0px 2px var(--primary);
}

.q11:hover .count {
  color: var(--primary);
  box-shadow: 0px 0px 0px 2px var(--primary);
}

.q12:hover .count {
  color: var(--primary);
  box-shadow: 0px 0px 0px 2px var(--primary);
}


.snack-wrap .detail-box{
  width: 337px;
  /* height: 377px; */
  position: absolute;
  box-shadow: 0px 0px 6px 4px var(--primary);
  z-index: 99;
  border-radius: 70px;
  border-radius: 70px 70px 70px 70px / 70px 70px 70px 70px;
  background-color: #363636;

}
.snack-wrap .detail-box .content{
  padding: 20px 20px 20px 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
min-height: 306px;
}

.snack-wrap .detail-box h2{
  font-family: 'Kidspace';
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: center;
color: var(--primary);
padding: 0;
padding-bottom: 10px;

}
.snack-wrap .detail-box p{
  
  font-family: 'Kidspace';
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--white);
  /* max-height: 213px; */
  overflow: auto;
}

.detail-box ul{
  min-height: 306px;
}


/* 
.snack-wrap .detail-box p::-webkit-scrollbar {
  width: 12px;
  height: 7px;
}

.snack-wrap .detail-box p::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  width: px;
  height: 7px;
  border-radius: 10px;
}

.snack-wrap .detail-box p::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
  border: 1px solid #fff;
} */
.bg-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sale-section{
  height: calc(100vh - 110px);
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #272727;
  border-radius: 16px 8px 8px 16px;
}

.sale-section .wrap {
  overflow: hidden;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
}

.sale-section .image-one {
  width: 100%;
    position: absolute;
    bottom: -75px;
    z-index: 0;
}
.sale-section .image-wrap{
  position: relative;
  z-index: 1;
}
.sale-section .left-wrap{
  padding: 25px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 88%; */
    height: 100%;
}
.sale-section .right-wrap{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 50px 0px;
}

.sale-section .right-wrap p{
  text-align: center;
}

.sale-section .right-wrap p span{
  font-family: 'Kidspace';
font-size: 16px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
color: #FF6347;
}

.sale-section .right-wrap h2{
  font-family: 'Kidspace';
  font-size: 26px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--primary);
  padding-top: 7px;
}


.sale-section .image-wrap .detail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.sale-section .image-wrap .detail .btn-line-one{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px;
}
.sale-section .image-wrap .detail .btn-line-two{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sale-section .wrap .loader-root {
  /* box-shadow: #0000001a 0 4px 12px; */
  position: relative;
  /* border-radius: 4px; */
  overflow: hidden;
  height: 4rem;
  /* border: 4px solid #757473;
  display: flex;
  border-radius: 1.5rem;
  background-color: #a3e6fb; */
  width: 80%;
}

.sale-section .wrap .loader-inner {
  transition: width .4s ease-out;
  display: flex;
  align-items: center;
  position: absolute;
  padding-inline: 0px -2px;
  padding: 0px 3px;
  background-color: #2F2F2F;
  border: 3px solid #FFC107;
  border-radius: 12px;
  height: calc(100% - 1.95rem);
  top: 50%;
  left: 0.375rem;
  transform: translateY(-50%);
  width: 0;
}
.sale-section .wrap .loader-bar-container {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
}

.sale-section .wrap .loader-bar-container>.loader-bar:not(:last-child) {
  margin-right: 0.15rem;
}
.sale-section .wrap .loader-bar {
  flex: 1;
  height: 1.3rem;
  background-color: #FFC107;
  transform-origin: 0 0;
  transition: transform .2s ease-out;
  border-radius: 4px;
  border: 2px solid #FFC107;
}
.sale-section .wrap .loader-bar-black {
  flex: 1;
  height: 1.3rem;
  background-color: #2F2F2F;
  transform-origin: 0 0;
  transition: transform .2s ease-out;
  border-radius: 4px;
  border: 2px solid #2F2F2F;
}

.sale-section .wrap .loader-bar.last {
  margin-right: 0!important;
  animation: loader-pulse 1s ease-in infinite;
}

/* .sale-section .wrap .loader-bar {
  flex: 1;
  height: 1.5rem;
  background-color: #e9959d;
  transform-origin: 0 0;
  transition: transform .2s ease-out;
  border-radius: 999rem;
  border: 2px solid #747576;
} */

.sale-section .wrap .detail-wrap{
  position: relative;
  z-index: 1;
}
.sale-section .wrap .right-wrap{
  position: relative;
  z-index: 1;
}

.sale-section .wrap .detail-wrap h2{
  font-family: 'Kidspace';
font-size: 40px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0em;
text-align: center;
color: var(--primary);
}
.sale-section .wrap .detail-wrap h3{
  font-family: 'Kidspace';
font-size: 32px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0em;
text-align: center;
color: var(--primary);

}
.sale-section .wrap .detail-wrap p{
text-align: center;
padding: 10px 0px 20px 0px !important;
}
.sale-section .wrap .detail-wrap p span{
  font-family: 'Kidspace';
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #FF6347;
  text-align: center;
}

.sale-section .image-wrap .detail h2{
  font-family: 'Kidspace';
font-size: 22px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: center;
color: #FF6347;
}
.sale-section .image-wrap .detail h3{
  font-family: Kidspace;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
color: var(--primary);  
padding: 10px 0px !important;
}
.sale-section .image-wrap .detail .p1{
  font-family: 'Kidspace';
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #6D6D6D;
  padding-top: 10px !important;
}
.sale-section .image-wrap .detail .p2{
  font-family: 'Kidspace';
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #AFAFAF;
  padding: 10px 0px !important;
}

.sale-section .image-wrap{
  position: relative;
  z-index: 1;
}

.pie-chart-mgs .pie-wrap .data-wrap h2 span:nth-child(2){
  cursor: pointer;
}

.hide-on-mobile{
  display: block;
}

.mobile-layout{
  display:  none;
}

.pre-sale-wallet{
  display:  none;
}

.react-multiple-carousel__arrow{
  background: transparent !important;
}
.react-multiple-carousel__arrow:hover{
  background: transparent !important;
}

.react-multiple-carousel__arrow:hover{
  background: transparent !important;
}

.react-multiple-carousel__arrow::before{
  color: #FFC107;
  font-size: 28px;
}

.react-multiple-carousel__arrow--right {
  right: calc(-3% + 1px);
}

.react-multiple-carousel__arrow--left {
  left: calc(-3% + 1px);
}

.round-section{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 15px;
}
.round-section .wrap.active{
  width: 160px;
  height: 139.65px;
  border: 2px solid var(--primary);
  border-radius: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 11px;
  background: #363636;
  overflow: hidden;
}

.round-section .wrap{
  width: 160px;
  height: 139.65px;
  border: 2px solid #D2D2D2;
  border-radius: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 11px;
  background: #363636;
  overflow: hidden;
}

.round-section .wrap::before{
  content: '';
  width: 190px;
  height: 201.19px;
  background: radial-gradient(rgba(226, 226, 226, 0.5) 0%, rgba(226, 226, 226, 0) 100%);
  border-radius: 90%;
  opacity: 0.1;
  overflow: hidden;
}
.round-section .wrap.active::before{
  content: '';
  width: 190px;
  height: 201.19px;
  background: radial-gradient(rgba(255, 193, 7, 0.5) 0%, rgba(255, 193, 7, 0) 100%);
  border-radius: 90%;
  opacity: 0.1;
  overflow: hidden;
}

.round-section .wrap::after{
  content: '';
    width: 123.2px;
    height: 201.19px;
    background: radial-gradient(rgba(226, 226, 226, 0.5) 0%, rgba(226, 226, 226, 0) 100%);
    border-radius: 90%;
    opacity: 0.1;
    overflow: hidden;
}
.round-section .wrap.active::after{
  content: '';
    width: 123.2px;
    height: 201.19px;
    background: radial-gradient(rgba(255, 193, 7, 0.5) 0%, rgba(255, 193, 7, 0) 100%);
    border-radius: 90%;
    opacity: 0.1;
    overflow: hidden;
}

.round-section .wrap:nth-child(1) , .round-section .wrap:nth-child(3) , .round-section .wrap:nth-child(5){
margin-top: 40px;
}
.round-section .wrap:nth-child(2) , .round-section .wrap:nth-child(4){
}
.round-section .wrap h2{
  font-family: 'Kidspace';
font-size: 20px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
color: #D2D2D2;

}
.round-section .wrap.active h2{
  font-family: 'Kidspace';
font-size: 20px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
color: var(--primary);

}
.round-section .wrap p{
  font-family: 'Kidspace';
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: #D2D2D2;

}
.round-section .wrap p{
  font-family: 'Kidspace';
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: #D2D2D2;

}

.round-section .wrap h3{
  font-family: 'Kidspace';
font-size: 18px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: #D2D2D2;
}
.round-section .wrap.active h3{
  font-family: 'Kidspace';
font-size: 18px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: var(--primary);
}



@keyframes loader-pulse {
  0% {
      opacity: .9
  }

  50% {
      opacity: .5
  }

  to {
      opacity: .9
  }
}

@media only screen and (max-width: 1100px) {
  .sale-section .left-wrap {
    padding: 25px 30px;
    height: 100%;
}
}
@media only screen and (max-width: 1050px) {
  .home_wrap .sec-wrap .left-side a:not(:last-child) {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .left-side svg{
    width: 64px;
  }

  .sale-section .left-wrap {
    padding: 25px 0px 25px 30px;
}

.sale-section .image-wrap svg{
  width: 127px;
}

  .home_wrap .sec-wrap .left-side a{
    font-size: 14px;
  }

  .home-section-one .detail h2{
    font-size: 34px;
  }
  

}


@media only screen and (max-width: 768px) {
  .hide-on-mobile{
    display: none;
  }

  .home-section-one .detail p {
    width: 70%;
  }

  .pre-sale-wallet{
    display:  block;
  }

  .home_wrap .sec-wrap .left-side{
    display: none;
  }

  .home_wrap .sec-wrap .right-side {
    width: 100%;
}
  
.home_wrap .sec-wrap .top-bar .sec-right-wrap .left .pre-sale-back{
  width: auto !important;
}

.sale-section {
  height: auto;
  overflow: auto;
  background-color: #272727;
  border-radius: 16px 8px 8px 16px;
}

.sale-section .left-wrap {
  padding: 10px;
}

.sale-section .right-wrap {
  padding: 10px;
}

.sale-section .wrap .loader-root{
  width: 80%;
}

  .titleOfSection{
    position: relative;
    height: auto;
    background-color: #272727;
    border-radius: 12px;
    margin: 20px 0px;
    border: 1px solid var(--primary);
  }

  .titleOfSection h2{
    font-family: 'Kidspace';
    font-size: 28px;
    font-weight: 400;
    padding: 20px 0px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--white);
    position: relative;
    z-index: 1;
  }

  .home_wrap{
    height: 100%;
  }

  .home_wrap .sec-wrap .top-bar .sec-left-wrap{
    display: none;
  }
  .home_wrap .sec-wrap .top-bar .sec-right-wrap{
   width: 100%;
  }

  .home_wrap {
    padding: 20px 10px;
}

.mobile-layout{
  display:  block;
  padding: 0px;
}

.home-section-one{
  padding: 15px;
    height: auto;
    border-radius: 12px;
}

.home-section-one .detail h2{
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 10px;
}
.home-section-one .detail {
  padding: 65px 20px;
}

.home-section-one .detail p{
  font-size: 18px;
}

.home-wrap .image-three {
  opacity: 0.3;
}

.home-wrap .image-five {
  opacity: 0.3;
}

.home-section-two{
  position: relative;
  height: auto;
  background-color: #272727;
  height: 200px;
  border-radius: 12px;
  margin: 20px 0px;
}

.home-section-two .play-btn{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
width: 10%;
}

.pirchart-two , .pirchart , .home-section-four , .home-section-six{ 
  height: auto;
  background-color: #272727;
  border-radius: 12px;
  margin: 20px 0px;
  padding: 20px 0px;
}

.mobile-pie-content{
  padding: 40px;
  text-align: center;
}
.mobile-pie-content h2{
  color: #FFC107;
  margin: 0;
  font-family: 'Kidspace';
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  padding: 5px 10px 25px 10px;
}
.mobile-pie-content p{
  color: #fff;
  font-family: 'Kidspace';
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.react-multiple-carousel__arrow{
  background: transparent !important;
}
.react-multiple-carousel__arrow:hover{
  background: transparent !important;
}

.react-multiple-carousel__arrow:hover{
  background: transparent !important;
}

.react-multiple-carousel__arrow::before{
  color: #FFC107;
  font-size: 28px;
}

.react-multiple-carousel__arrow--right {
  right: calc(0% + 1px);
}

.react-multiple-carousel__arrow--left {
  left: calc(0% + 1px);
}

.cancle-carosal{
  position: absolute;
  right: 15px;
  top: 8px;
  color: #FFC107;
  font-family: 'Kidspace';
  z-index: 9999;
}

.home-section-four .detail{
  padding: 15px;
}

.home-section-four .detail h2 {
  font-family: 'Kidspace';
  font-size: 30px;
  line-height: 36px;
  color: #FFC107;
}

.home-section-four .detail p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.home-section-four .map-sec-title{
  font-family: 'Kidspace';
  font-size: 24px;
  line-height: 36px;
  color: var(--white);
}

.roadmap-section-mobile{
  height: auto;
    background-color: #272727;
    border-radius: 12px;
    margin: 20px 0px;
    padding: 20px 0px;
}

.roadmap-section-mobile .map-sec-title{
  color: #FFF;
  margin: 0;
  font-family: 'Kidspace';
  font-size: 26px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 6px;
  margin: 10px 90px;
  padding: 2px 20px 5px 20px;
 }

.mobile-rodemap-content{
  padding: 20px 30px;
}
.mobile-rodemap-content h2{
  color: #FFC107;
  margin: 0;
  font-family: 'Kidspace';
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  padding: 5px 10px 25px 10px;
  
}
.mobile-rodemap-content p{
  color: #fff;
  font-family: 'Kidspace';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

}

@media only screen and (max-width: 600px) {
  .home_wrap .sec-wrap .top-bar .sec-right-wrap .right ul{
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .home-section-one .detail {
    padding: 35px 20px;
}
}

@media only screen and (max-width: 500px) {
  .home-section-one .detail h2 {
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 10px;
}

.home-section-one .detail p {
  font-size: 16px;
  line-height: 18px;
}

.home-wrap .image-two {
  opacity: 0.2;
}

.home-section-one .detail p {
  width: 100%;
}
}

@media only screen and (max-width: 400px) {
  .home_wrap .sec-wrap .top-bar .sec-right-wrap .right svg{
    width: 115px;
  }

  .home_wrap .sec-wrap .top-bar .sec-right-wrap .left svg{
    width: 115px;
  }

  .sale-section .wrap .detail-wrap h2 {
    font-size: 34px;
}

.sale-section .wrap .detail-wrap h3 {
  font-size: 28px;
}
.sale-section .col-lg-12{
  padding: 0px;
}
}




